.btn {
  display: flex;
  justify-content: center;
  max-width: 100%;
  padding: 17px 46px;

  background: $red;
  color: $white;
  font-weight: 700;

  text-align: center;

  border-radius: 40px;
  transition: all 0.3s;

  &:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  &:active {
    opacity: 0.8;
  }

  @media (max-width: $tablet) {
    padding: 12px 36px;
  }
  
}
