.splide {
  padding: 0 25px;
}

.splide__arrow {
  width: 50px;
  height: 50px;
  background: $white;
  box-shadow: 0px 4px 20px rgba(143, 149, 172, 0.7);
  opacity: 1;
}

.splide__arrow--prev {
  left: 0;
}

.splide__arrow--next {
  right: 0;
}

.splide__arrow svg {
  width: 12px;
  height: 12px;
}

.splide__track {
  width: 130%;
  overflow: hidden;

  @media (max-width: $mob) {
    width: 100%;
  }
}

.splide__pagination {
  bottom: -45px;
}


/* Не по БЭМ, классы плагина */

.splide__pagination__page {
  margin: 8px;
  background: $gray-light;
  opacity: 1;
}

.splide__pagination__page.is-active {
  transform: scale(1);
  background: $red;
}
